body {
    background-color: black;
    color: lime;
    font-family: monospace;
    font-size: 150%;
}

hr {
    border: 0;
    border-bottom: medium dashed white;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 125%;
}

a {
    color: cyan;
    text-shadow: 0px 0px 10px rgba(70, 153, 255, 0.7);
}

#about, #projects, #affiliations, #works, #contact, #blog {
    display: none;
}

article {
    border-style: none none none dashed;
    border-size: 2px;
    border-color: white;
    padding: 0% 2% 0% 2%;
    margin-bottom: 2%;
}

nav li {
    display: inline;
    padding-right: 5%;
}

a:link, a:active, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

span.undecorate {
	text-decoration: none;
	color: lime;
	text-shadow: none;
}

#about figure img{
    width: 70%;
    height: 40%;
}

.blinking_cursor {
    opacity: 0;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
