<header>
        <h1><a href="{{ site.layoutVars[page.layout].relativepath }}" target="_self" class="undecorated">
		{{ site.title }}
	</a></h1>

        <h3>{{ site.description }}</h3>
    
        <hr>

	  <div id="top-terminal"></div>

        <nav>
            <ul>
		<li class="invisible"><a href="{{ site.layoutVars[page.layout].relativepath }}#latest">Latest_Posts</a></li>
		<li><a href="{{ site.layoutVars[page.layout].relativepath }}#about" target="_self">About</a></li>
                <li><a href="{{ site.layoutVars[page.layout].relativepath }}#projects" target="_self">Projects</a></li>
		<li><a href="{{ site.layoutVars[page.layout].relativepath }}#works" target="_self">Works</a></li>
                <li><a href="{{ site.layoutVars[page.layout].relativepath }}#affiliations" target="_self">Affiliations</a></li>
		<li><a href="{{ site.layoutVars[page.layout].relativepath }}#contact" target="_self">Contact</a></li>
		<li><a href="{{ site.layoutVars[page.layout].relativepath }}#archive" target="_self">Archive</a></li>
            </ul>
        </nav>

</header>
