<header>
        <h1><a href="{{ site.url }}" target="_self"><span class="undecorate">
		{{ site.title }}
	</span></a></h1>

        <h3>{{ site.description }}</h3>
    
        <hr>

	  <div id="top-terminal"></div>

        <nav>
            <ul>
                <li><a href="{{ "#about" | prepend: site.url }}" target="_self">About</a></li>
                <li><a href="{{ "#projects" | prepend: site.url }}" target="_self">Projects</a></li>
		<li><a href="{{ "#works" | prepend: site.url }}" target="_self">Works</a></li>
                <li><a href="{{ "#blog" | prepend: site.url }}" target="_self">Blog</a></li>
                <li><a href="{{ "#affiliations" | prepend: site.url }}" target="_self">Affiliations</a></li>
		<li><a href="{{ "#contact" | prepend: site.url }}" target="_self">Contact</a></li>
            </ul>
        </nav>

</header>
