<header>
        <h1><a href="{{ site.url }}" target="_self" class="undecorated">
		{{ site.title }}
	</a></h1>

        <h3>{{ site.description }}</h3>
    
        <hr>

	  <div id="top-terminal"></div>

        <nav>
            <ul>
		<li class="invisible"><a href="{{ page.leadingpath }}#latest">Latest_Posts</a></li>
		<li><a href="{{ page.leadingpath }}#about" target="_self">About</a></li>
                <li><a href="{{ page.leadingpath }}#projects" target="_self">Projects</a></li>
		<li><a href="{{ page.leadingpath }}#works" target="_self">Works</a></li>
                <li><a href="{{ page.leadingpath }}#affiliations" target="_self">Affiliations</a></li>
		<li><a href="{{ page.leadingpath }}#contact" target="_self">Contact</a></li>
		<li><a href="{{ page.leadingpath }}#archive" target="_self">Archive</a></li>
            </ul>
        </nav>

</header>
